<p id="notice"><%= notice %></p>

<p>
  <strong>Productname:</strong>
  <%= @product.ProductName %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.Price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.Description %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
